html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Fredoka";
    font-weight: 700;
    box-sizing: border-box;
  }

body {
    background-image: linear-gradient(to right, #bfffff , #ffffbf, #ffbfff);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main-div {
    background-color: #fff;
    width: 96vw;
    border-radius: 25px;
}

#top-div {
    height: 16vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #ffffff00;
}

#top-left-div {
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 16vh;
    color: #00000080;
}

#amount-input {
    background-color: #fff; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50vw;
    height: 16vh;
    min-height: 100%;
    margin: 0;
    border-radius: 25px;
    color: #808080;
    font-size: 2.5em;
}

input[type="number"] {
    width: 35vw;
    height: 12vh;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
  
    border: 4px solid #808080;
    border-radius: 25px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    color: #ffffff;
    font-size: 1.25em;
    font-family: "Fredoka";
    font-weight: 700;
    -webkit-text-stroke: 2.5px #808080;
}

input[type="number"]:focus {
    box-shadow: 0 0 8px rgba(195, 0, 255, 0.3);
    outline: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#btm-div {
    width: 96vw;
    height: 76vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-start;
}

.btm-div {
    height: 15vh;
    border-radius: 25px;
    width: 94vw;
    margin: 0;
    margin-left: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#btm-frst-div {
    background-color: #80ffbf;
    width: 94vw;
    height: 27.2vh;
}

#bank1name {
    color: #408060;
}

#bank-amnt1 {
    -webkit-text-stroke: 4px #208050;
    font-size: 4em;
}

#btm-scnd-div {
    background-color: #dfbfff;
    width: 71vw;
    height: 20.4vh;
}

#bank2name {
    color: #604080;
}

#bank-amnt2 {
    -webkit-text-stroke: 3px #502080;
    font-size: 3em;
}

#btm-thrd-div {
    background-color: #bfffff;
    width: 47vw;
    height: 13.6vh;
}

#bank3name {
    color: #408080;
}

#bank-amnt3 {
    -webkit-text-stroke: 2px #208080;
    font-size: 2em;
}

#btm-frth-div {
    background-color: #ffbfff;
    width: 24vw;
    height: 6.8vh;
}

#bank4name {
    color: #804080;
}

#bank-amnt4 {
    -webkit-text-stroke: 1.5px #802080;
    font-size: 1.5em;
}

.bank-name, .bank-amnt {
    margin-left: 25px;
    font-size: 1.25em;
}

.bank-amnt {
    font-size: 2.5em;
    color: #fff;
}

@media (orientation: portrait) {

    html, body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
        box-sizing: border-box;
    }

    .main-div {
        width: 92vw;
    }

    #top-div, #amount-input, #top-left-div {
        height: 10vh;
    }

    #top-left-div {
        width:25vw;
        font-size: 0.75em;
    }

    #amount-input {
        font-size: 1em;
        width: 62.5vw;
    }

    input[type="number"] {
        height: 8vh;
        width: 43.75vw;
    }

    #amount {
        font-size: 2em;
    }

    #btm-div {
        height: 84vh;
        width: 92vw;
    }

    .btm-div {
        flex-direction: column;
        align-items: flex-start;
    }

    .bank-name {
        margin: 0;
        margin-top: 5%;
        margin-left: 5%;
    }

    .bank-amnt {
        margin: 0;
        margin-left: 5%;
    }

    #btm-frst-div {
        width: 85vw;
        height: 27.36vh;
    }

    #btm-scnd-div {
        width: 76vw;
        height: 18.24vh;
    }
    
    #btm-thrd-div {
        width: 68vw;
        height: 18.24vh;
    }

    #btm-frth-div {
        width: 60vw;
        height: 12.16vh;
    }

}
